# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/

# Environments
.env
.venv
venv/

# IDEs
.idea/
.vscode/

# Misc
*.db
*.sqlite3
*.json
.json.backup
